body {
  font-size: 20px;
  position: absolute;
  bottom: 40%;
  left: 40%;
}
.holiday {
  background-color: transparent;
}

.holiday-a {
  background-color: lightblue;
}

.holiday-b {
  background-color: yellow;
}

.holiday-c {
  background-color: pink;
}
